@model List<SafeFutureWebApplication.Models.Recipient>

<div class="container">
    <h1>Generate Reports</h1>

</div>

<!-- DEFAULT REPORTS -->
<section class="container">
    <h2>Default Reports</h2>

    @Html.ActionLink("Weekly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
    @Html.ActionLink("Monthly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
    @Html.ActionLink("Quarterly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })

    <hr style="border-width:5px; color:black" />

</section>

<!-- CUSTOM REPORTS -->
<section class="container">
    <h2>Custom Reports</h2>

    <form name="customReport " id="customReport">
        <!-- ADD VALIDATION LATER, PERHAPS JAVASCRIPT -->
        <fieldset>
            <legend>Date Range: </legend>
            <input type="date" name="dateMin" id="dateMin" />
            to
            <input type="date" name="dateMax" id="dateMax" />

        </fieldset>

        <fieldset>
            <legend>Fields to Include: </legend>
            <table>
                <tr>
                    <th>
                        <input type="checkbox" name="name" id="name" />
                        <label for="name">
                            Name


                        </label>

                    </th>

                    <th>
                        <input type="checkbox" name="zipcode" id="zipcode" />
                        <label for="zipcode">
                            Zipcode


                        </label>

                    </th>

                    <th>
                        <input type="checkbox" name="email" id="email" />
                        <label for="email">
                            Email


                        </label>

                    </th>

                </tr>

                <tr>
                    <th>
                        <input type="checkbox" name="householdSize" id="householdSize" />
                        <label for="householdSize">
                            Household Size


                        </label>

                    </th>

                    <th>
                        <input type="checkbox" name="ethnicity" id="ethnicity" />
                        <label for="ethnicity">
                            Ethnicity


                        </label>

                    </th>

                </tr>

                <tr>
                    <th>
                        <input type="checkbox" name="productsDistributed" id="productsDistributed" />
                        <label for="productsDistributed">
                            Products Distributed


                        </label>

                    </th>

                    <th>
                        <input type="checkbox" name="profileNotes" id="profileNotes" />
                        <label for="profileNotes">
                            Profile Notes


                        </label>

                    </th>

                </tr>

            </table>


        </fieldset>

        <br /><button type="reset" class="btn btn-danger">Reset Fields</button>
        <button type="button" class="btn btn-danger">Select All Fields (nonfunctional)</button><br /><br />


        <!-- working (?) -->
        <button type="submit" class="btn btn-success" asp-controller="Admin" asp-action="GetReport">Click HERE for GetReport test (functional but basic)</button>

        <!-- COLT REPORT TESTING -->
        <button type="submit" class="btn btn-danger"asp-controller="Admin" asp-action="ColtReportTesting">Click HERE for Reports test (TESTING)</button>

    </form>

    <hr style="border-width:5px; color:black" />

</section>

<!-- PREVIEW INFORMATION -->
<section class="container">
    <h2>Preview Information</h2>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <div class="container">
        @if (Model != null)
        {
            <h3>Participants: @Model.Count</h3>

        }
        else
        {
            <h3>No participants in database.</h3>

        }

        <form asp-action="Reports" method="get" style="margin-bottom: 5px;">
            <div class="input-group mb-0">
                <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentSearch"]" placeholder="Search Participants">

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>

                </div>

            </div>

        </form>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Household Size</th>

                </tr>

            </thead>

            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.FirstName</td>
                        <td>@x.LastName</td>
                        <td>@x.ZipCode</td>
                        <td>@x.HouseholdSize</td>
                       
                    </tr>

                }

            </tbody>

        </table>

    </div>

</section>

<footer>
    @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-success m-2" })
</footer>























<section class="container" hidden>
    <p>
        For this part, we will need to sit down with Chris
        and see the specific reports he would like to generate.

    </p>

    <p style="color:red">
        testing from Mac
    </p>


    <fieldset>
        <legend>Option One</legend>



        <p>
            We could use a grouping of buttons here, like "Report by Household Size"
            or "Report by Zipcode". This could be effective, but if your requirements
            change over the years for your reports then this style won't do you much
            good. Effective, but not future-proof.

        </p>




        @Html.ActionLink("Report by Household Size", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Report by Zipcode", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })

    </fieldset>

    <hr style="border-width:5px; color:black" />


    <fieldset>
        <legend>Option Two</legend>

        <p>
            Another possibility would be to use checkboxes to select which fields you would
            like downloaded for the reports. For example, you could check the zipcode, household size,
            and email boxes and you would receive an excel sheet with those data elements. This would 
            be an effective way to future-proof your report generating capabilities.

        </p>

        <br /><br />
        <input type="checkbox" id="zip" name="zip" value="zip">
        <label for="zip">Zipcode</label>

        <input type="checkbox" id="email" name="email" value="email">
        <label for="email">Email</label>

        <input type="checkbox" id="householdSize" name="householdSize" value="householdSize">
        <label for="householdSize">Household Size</label>

        <input type="checkbox" id="name" name="name" value="name">
        <label for="name">Name</label>
        <br /><br />

        @Html.ActionLink("Generate Report", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })



    </fieldset>

    <hr style="border-width:5px; color:black" />

    <fieldset>
        <legend>Option Three</legend>
        <p>
            This is an option if you don't always want to download the data each time you want to view it. This could likely
            be combined with the second option so that you can see the fields which would be downloaded before
            doing so.
        </p>




        @if (Model.Count <= 0)
        {
            <div class="alert alert-info" role="alert">
                No customers found.
            </div>
        }
        <div>
            <!--Change this-->
            <form asp-action="Index" method="get">
                <div class="input-group mb-0">
                    <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentSearch"]" placeholder="Search Customers">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        @if (Model.Count > 0)
        {
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Zip Code</th>
                    <th>Household Size</th>
                    <th>Email</th>
                    <th>Products Distributed</th>
                </tr>
                @foreach (var x in Model)
                {
                <tr>
                    <td>@x.FirstName</td>
                    <td>@x.LastName</td>
                    <td>@x.ZipCode</td>
                    <td>@x.HouseholdSize</td>
                    <td>@x.Email</td>

                </tr>
                }





            </table>
        }


    </fieldset>



    @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-success m-2" })


</section>


