@model SafeFutureWebApplication.Models.ViewModels.GetRecipientsViewModel

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="container">
    @if (Model == null || Model.Recipients.IsNullOrEmpty() || Model.Recipients.Count() < 1)
    {
        <h3>No Recipients in database.</h3>
    }
       
    <div id="Placeholder"></div>

    <form asp-action="Index" method="get" style="margin-bottom: 5px;">
        <div class="input-group mb-0">
            <input type="text" class="form-control" placeholder="Search Recipients" name="searchString" value="@ViewData["CurrentSearch"]">
            <div class="input-group-append" style="margin-left: 5px;">
                <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="table-responsive table-body">
        <table class="table table-hover recipients-table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Household Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Recipients)
                {
                    <tr>
                        <td>@x.FirstName</td>
                        <td>@x.LastName</td>
                        <td>@x.ZipCode</td>
                        <td>@x.HouseholdSize</td>
                        <td style="text-align: center">
                            <div style="display: flex; align-items: center; justify-content: space-evenly; gap:5px;">
                                <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#addAttendance" data-url="@Url.Action("AddAttendance", "Staff", new { recipientId = x.RecipientId })">Add Attendance</button>
                                <a asp-action="ViewAttendances" asp-controller="Staff" asp-route-recipientId="@x.RecipientId" class="btn btn-info">View Attendances</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container-fluid" style="margin: 1.5em 0;">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success btn-lg" data-toggle="ajax-modal" data-target="#addRecipient" data-url="@Url.Action("AddRecipient")">Add Recipient</button>
            </div>
            <div class="col">
                <nav aria-label="Table pagination">
                  <ul class="pagination pagination-lg justify-content-end">
                    @{
                        if (Model.CurrentPage <= 1)
                        {
                            <li class="page-item disabled"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="1"><i class="fas fa-angle-double-left"></i></a></li>
                            <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="1"><i class="fas fa-angle-double-left"></i></a></li>
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.PreviousPage"><i class="fas fa-angle-left"></i></a></li>
                            if (Model.CurrentPage == Model.NumOfPages)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@(Model.PreviousPage - 1)">@(Model.PreviousPage - 1)</a></li>                        
                            }
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.PreviousPage">@Model.PreviousPage</a></li>                
                        }

                        <li class="page-item active">
                            <a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.CurrentPage">@Model.CurrentPage</a>
                        </li>

                        if (Model.CurrentPage >= Model.NumOfPages)
                        {  
                            <li class="page-item disabled"><a class="page-link"><i class="fas fa-chevron-right disabled"></i></a></li>
                            <li class="page-item disabled"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.NumOfPages"><i class="fas fa-angle-double-right"></i></a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.NextPage">@Model.NextPage</a></li>
                            if (Model.CurrentPage == 1 && Model.NumOfPages > 2)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@(Model.NextPage + 1)">@(Model.NextPage + 1)</a></li>                        
                            }

                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.NextPage"><i class="fas fa-angle-right"></i></a></li>                    
                            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-page="@Model.NumOfPages"><i class="fas fa-angle-double-right"></i></a></li>
                        }

                    }
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
