@model List<SafeFutureWebApplication.Models.Customer>




<div class="container">
    <h2>Customers</h2>
</div>

<section class="container">

    @if (Model.Count <= 0)
    {
        <div class="alert alert-info" role="alert">
            No customers found.
        </div>
    }
    <div>
        <!--Change this-->
        <form asp-action="Index" method="get">
            <div class="input-group mb-0">
                <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentSearch"]" placeholder="Search Volunteers">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    @if (Model.Count > 0)
    {
        <table>
            <tr>
                <th>Name</th>
                <th>Zip Code</th>
                <th>Household Size</th>
                <th>Email</th>
                <th>Products Distributed</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Zipcode</td>
                    <td>@x.HouseholdSize</td>
                    <td>@x.Email</td>

                </tr>
            }





        </table>



    }

    @Html.ActionLink("Go Back", "Index", "Staff", null, new { @class = "btn btn-success m-2" })


</section>




