@model List<SafeFutureWebApplication.Models.Attendance>
@{
    SafeFutureWebApplication.Models.Recipient recipient = ViewBag.Recipient;
}

<h1>View Attendances</h1>
<br />
<h4>Viewing previous attendances for: @recipient.FirstName @recipient.LastName</h4>
<hr />
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Event Date</th>
            <th scope="col">Ordered By</th>
            <th scope="col" width="70%">Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.EventDate</td>
                <td>@x.CreatedBy</td>
                <td>@x.Notes</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Search Recipients", "Index", "Staff", null, new { @class = "btn btn-secondary m-2" })
</div>