@model List<SafeFutureWebApplication.Models.Customer>

<div class="container">
    @if (Model != null)
    {
        <span>Participants: @Model.Count</span>
    }
    else
    {
        <span>No participants in database.</span>
    }
    @foreach (var x in Model)
    {
        <div>
            <h3>@x.FirstName @x.LastName</h3>
            <p>@x.ZipCode</p>
            <p>@x.HouseholdSize</p>
        </div>
    }
</div>

<div class="container">
    <div class="row">
        @Html.ActionLink("Add a Participant", "AddParticipant", "Volunteer", null, new { @class = "btn btn-success m-2" })
    </div>

</div>